<div class="button-start">
    <div class="circle" style="background-image: url();">
        <img src="../../img/arrow-but.svg" alt="" class="arrow-but">
    </div>
    <span class="button-text">START</span>
</div>