<div class="switch">
    <input type="checkbox" class="checkbox" id="checkbox">
    <label for="checkbox" class="checkbox-label"></label>
    <span class="train">Train</span>
    <span class="play none">Play</span>
    <span class="switch-bg"></span>
</div>